@page
@model NewsPortal.Pages.editCategoryModel
@{
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div class="container">
    <h3>Update Category</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="categories.CName">Category Name</label>
                <input asp-for="categories.CName" class="form-control" />
                <span class="alert-danger" asp-validation-for="categories.CName"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="categories.CDescription">Description</label>
                <input asp-for="categories.CDescription" class="form-control" />
                <span class="alert-danger" asp-validation-for="categories.CDescription"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/allNewsCategory">Cancel</a>
    </form>
</div>

